@charset "utf-8";

.calc_container{
  width: 100%;
  height: 70%;
  border: 3px solid #101841;
  display: flex;
  flex-direction: column;
  background-color: #70ACCE;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}


@media screen and (max-width: 479px){

.calc_container{
  height:400px;
}

.calc_container input, button{
  font-size: 20px;
}
}
